.highlights {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0 8px;
}

.sellers-and-desired {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.best-sellers, .desired {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 36px;

    border: 1px solid #747474;
}

.best-sellers, .desired:hover {
    cursor: pointer;
}

.best-sellers {
    border-bottom: none;
}

.best-sellers p {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #fff;
    opacity: 0.9;

    width: 100%;
    height: 100%;
    margin: 4px;
}

.desired p {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #fff;
    opacity: 0.5;

    background-color: #3B3C41;

    width: 100%;
    height: 100%;
    margin: 4px;
}

.desired p span {
    text-align: center;
}

.desired {
    border-left: none;
    border-top: none;
    border-right: none;

}



.desired-active{
    border: 1px solid #747474;
    border-bottom: none;
    background-color: none;
}
.desired-active .pDesiredSwitch {
    background-color: #525252;
    opacity: 0.9;
}

.sellers-desactive {
    border: none;
    border-bottom: 1px solid #747474;
}
.sellers-desactive .pSellSwitch {
    background-color: #3B3C41;
    opacity: 0.5;
}



.games-best-sellers, .games-most-desired {
    display: flex;
    flex-direction: column;

    margin-top: 8px;
}

.games-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 46px;
    margin-bottom: 4px;

    background-color: #161618;

    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    color: #fff;

    cursor: pointer;
}

.game-information {
    display: flex;
    flex-direction: row;
}

.game-information img {
    width: 80px;
}

.game-number {
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: default;

    padding: 6px;
    color: #fff;

    border-right: 2px solid greenyellow;
}

.game-name {
    display: flex;
    align-items: center;

    margin-left: 4px;

    width: 96px;
}

.box-prices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.price-information {
    display: flex;
    flex-direction: column;
}

.game-price, .game-old-price {
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-price {
    font-weight: 600;
    color: #00bd00;
}

.game-old-price {
    text-decoration: line-through;
    color: #fff;
    opacity: 0.2;
}

.game-descount-percent {
    display: flex;
    align-items: center;

    height: 30px;
    width: 45px;
    padding: 4px;
    margin: 0px 8px;
    
    background: linear-gradient(to bottom, #e00000, #ff0000);

    font-weight: 600;
    font-size: 16px;
}



.displayOff{
    display: none;
}

.desactive {
    display: none;
}
.visibilityOff {
    visibility: hidden;
}