html, body {
    scroll-behavior: smooth;
}

.to-up {
    height: 42px;
    width: 42px;
    border-radius: 50%;

    font-size: 30px;
    font-weight: bolder;

    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;


    top: 85%;
    left: 85%;

    color: black;
    background-color: #c500c5;
    box-shadow: #ffffff60 1px 2px 6px;

    text-decoration: none;

    visibility: hidden;
}

.to-up:hover {
    color: #fff;
    box-shadow: #000 1px 2px 6px;
}

.to-up.visible {
    visibility: visible;
}