@media only screen and (max-width: 600px) {
    #login_container {
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    #login_container {
        top: 26%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 60%;
    }

    .copyright {
        display: block;
    }
}

@media only screen and (min-width: 992px) {
    #login_container {
        width: 50%;
    }
}

@media only screen and (min-width: 1200px) {
    #login_container {
        width: 40%;
    }
}

@media (orientation: landscape) and (max-height: 400px){

    #login_container {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        display: block;

        width: 80vw;
    }

    .login-section {
        margin: 0;
        padding: 8px 0;

        width: 100%;
    }

    .page-name {
        padding: 0;
        margin: 8px 0;
    }

    form {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-evenly;
    }

    .input-layout input {
        font-size: 12px;
        text-indent: 0;
    }

    .copyright {
        display: block;
    }
}