@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Playfair+Display&display=swap');

:root {
    --logo-font: 'Audiowide', sans-serif;
    --principal-font: 'Playfair Display', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;

    overflow: hidden;
}

#bg_img {
    height: 100vh;

    background-image: url("../imgs/pexels-lucie-liz-3165335.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;

    position: relative;

    opacity: 0.9;
}

#login_container {
    width: 100vw;
    
    margin: auto;

    text-align: center;

    position: absolute;
    top: 0;
    left: 0px;
}

.page-name {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-bottom: 16px;
    padding: 8px;
}

.page-name h2 {
    font-family: var(--principal-font);
    font-size: 1.6rem;
    font-weight: bold;


    letter-spacing: 1px;

    color: #fff;
}

.page-name h2,img {
    margin-top: 48px;
}

.login-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    width: 90%;
    
    padding: 32px;
    margin: auto;
    margin-top: 32px;
    
    background-color: #000000a8;
}

.login-section form {
    width: 100%;
}

.login-section form p{
    padding: 8px;
    text-align: center;

    font-family: var(--principal-font);
    font-size: 1rem;

    display: none;
}

.input-layout {
    margin-bottom: 32px;
}

.input-layout input {
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    
    width: 80%;
    padding: 8px;
    
    font-family: var(--principal-font);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    text-indent: 8px;

    background: none;
    color: #ffffff;
}

.input-layout input:hover {
    color: #b625b6;
}

.input-layout input:focus {
    border-bottom: 1px solid #b625b6;
    border-radius: 4px;
    border-left: 1px solid #b625b6;
    
    color: #fff;
}


#login_button {
    font-family: var(--principal-font);
    font-size: 16px;
    font-weight: 600;

    letter-spacing: 1px;

    padding: 12px;

    background-color: #b625b6;
    color: #fff;
    opacity: 0.9;

    border: none;
    border-radius: 8px;
    
    transition: all 0.6s;
}

#login_button:hover {
    background-color: #000;
    color: #b625b6;

    border-radius: 16px;
    opacity: 0.8;
}

.copyright {
    width: 100vw;
    padding: 4px 8px;

    position: fixed;
    bottom: 0;

    font-family: var(--principal-font);
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
    text-align: center;

    color: #ffffff;
}

.copyright p {
    text-align: center;
}